<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="pabpro.Properties.Settings.zadaniepabAConnectionString" connectionString="Data Source=DESKTOP-24COBM4\SQLEXPRESS;Initial Catalog=zadaniepabA;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="zadaniepabAEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-24COBM4\SQLEXPRESS;initial catalog=zadaniepabA;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>